.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date {
  display: flex;
  align-items: center;
  justify-content:center;
}

.date-picker {
  min-width :110px !important;
  width :110px !important;
}

.date-picker-area {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.date-input {
  height: 1.4375em;
  padding: 5.5px 14px;
  font: inherit;
  width:85px;
}

.tooltip { 
  text-align: center;
}

/* 隣接するカレンダ予定の偶数番目を違う色にする */
.rbc-row-segment:has(.rbc-event):nth-of-type(2n) .rbc-event {
  background-color: #5784ab !important;
}

.rbc-event-content {
  font-size: 0.8rem;
}

.big-calendar-title {
  font-size: 1rem !important;
  line-height: 0.5 !important;
}